{
  "extends": ["airbnb", "prettier"],
  "plugins": ["import", "jest"],
  "env": {
    "es6": true,
    "jest/globals": true
  },
  "globals": {
    "window": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "no-restricted-syntax": [
      "error",
      "ForInStatement",
      "LabeledStatement",
      "WithStatement"
    ],
    "no-use-before-define": [
      "error",
      { "functions": false, "classes": false, "variables": true }
    ]
  }
}
